@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
:root {
  --button-outline: rgba(0,0,0, .10);
  --badge-outline: rgba(0,0,0, .05);

  /* Automatic computation of border around primary / danger buttons */
  --opaque-button-border-intensity: -8; /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(0,0,0, .03);
  --elevate-2: rgba(0,0,0, .08);

  --background: 0 0% 98%;

  --foreground: 0 5% 15%;

  --border: 0 0% 88%;

  --card: 0 0% 96%;

  --card-foreground: 0 5% 15%;

  --card-border: 0 0% 90%;

  --sidebar: 0 0% 94%;

  --sidebar-foreground: 0 5% 15%;

  --sidebar-border: 0 0% 88%;

  --sidebar-primary: 0 100% 31%;

  --sidebar-primary-foreground: 0 0% 98%;

  --sidebar-accent: 0 3% 88%;

  --sidebar-accent-foreground: 0 5% 20%;

  --sidebar-ring: 0 100% 31%;

  --popover: 0 0% 92%;

  --popover-foreground: 0 5% 15%;

  --popover-border: 0 0% 86%;

  --primary: 0 100% 31%;

  --primary-foreground: 0 0% 98%;

  --secondary: 0 3% 86%;

  --secondary-foreground: 0 5% 20%;

  --muted: 0 4% 90%;

  --muted-foreground: 0 5% 35%;

  --accent: 40 8% 88%;

  --accent-foreground: 40 30% 25%;

  --destructive: 0 85% 45%;

  --destructive-foreground: 0 0% 98%;

  --input: 0 0% 70%;
  --ring: 0 100% 31%;
  --chart-1: 0 100% 31%;
  --chart-2: 40 96% 58%;
  --chart-3: 0 70% 25%;
  --chart-4: 40 80% 45%;
  --chart-5: 0 50% 20%;

  --font-sans: Poppins, Lexend Deca, Roboto, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: .75rem;
  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.06), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0px 4px 6px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 6px 12px 0px hsl(0 0% 0% / 0.08), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 10px 20px 0px hsl(0 0% 0% / 0.1), 0px 6px 10px -4px hsl(0 0% 0% / 0.12);
  --shadow-xl: 0px 16px 32px 0px hsl(0 0% 0% / 0.12), 0px 8px 16px -6px hsl(0 0% 0% / 0.14);
  --shadow-2xl: 0px 24px 48px 0px hsl(0 0% 0% / 0.16);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* Automatically computed borders - intensity can be controlled by the user by the --opaque-button-border-intensity setting */

  /* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

.dark {
  --button-outline: rgba(255,255,255, .10);
  --badge-outline: rgba(255,255,255, .05);

  --opaque-button-border-intensity: 9;  /* In terms of percentages */

  /* Backgrounds applied on top of other backgrounds when hovered/active */
  --elevate-1: rgba(255,255,255, .04);
  --elevate-2: rgba(255,255,255, .09);

  --background: 0 0% 8%;

  --foreground: 0 0% 92%;

  --border: 0 0% 18%;

  --card: 0 0% 11%;

  --card-foreground: 0 0% 92%;

  --card-border: 0 0% 16%;

  --sidebar: 0 0% 13%;

  --sidebar-foreground: 0 0% 92%;

  --sidebar-border: 0 0% 18%;

  --sidebar-primary: 0 100% 31%;

  --sidebar-primary-foreground: 0 0% 98%;

  --sidebar-accent: 0 4% 17%;

  --sidebar-accent-foreground: 0 0% 85%;

  --sidebar-ring: 0 100% 31%;

  --popover: 0 0% 15%;

  --popover-foreground: 0 0% 92%;

  --popover-border: 0 0% 20%;

  --primary: 0 100% 31%;

  --primary-foreground: 0 0% 98%;

  --secondary: 0 4% 19%;

  --secondary-foreground: 0 0% 85%;

  --muted: 0 5% 17%;

  --muted-foreground: 0 0% 65%;

  --accent: 40 10% 18%;

  --accent-foreground: 40 20% 75%;

  --destructive: 0 85% 35%;

  --destructive-foreground: 0 0% 98%;

  --input: 0 0% 30%;
  --ring: 0 100% 31%;
  --chart-1: 0 100% 65%;
  --chart-2: 40 96% 70%;
  --chart-3: 0 70% 55%;
  --chart-4: 40 80% 60%;
  --chart-5: 0 50% 50%;

  --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.3);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.25), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow: 0px 4px 6px 0px hsl(0 0% 0% / 0.25), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-md: 0px 6px 12px 0px hsl(0 0% 0% / 0.3), 0px 4px 6px -2px hsl(0 0% 0% / 0.35);
  --shadow-lg: 0px 10px 20px 0px hsl(0 0% 0% / 0.35), 0px 6px 10px -4px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0px 16px 32px 0px hsl(0 0% 0% / 0.4), 0px 8px 16px -6px hsl(0 0% 0% / 0.45);
  --shadow-2xl: 0px 24px 48px 0px hsl(0 0% 0% / 0.5);

  /* Fallback for older browsers */
  --sidebar-primary-border: hsl(var(--sidebar-primary));
  --sidebar-primary-border: hsl(from hsl(var(--sidebar-primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --sidebar-accent-border: hsl(var(--sidebar-accent));
  --sidebar-accent-border: hsl(from hsl(var(--sidebar-accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --primary-border: hsl(var(--primary));
  --primary-border: hsl(from hsl(var(--primary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --secondary-border: hsl(var(--secondary));
  --secondary-border: hsl(from hsl(var(--secondary)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --muted-border: hsl(var(--muted));
  --muted-border: hsl(from hsl(var(--muted)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --accent-border: hsl(var(--accent));
  --accent-border: hsl(from hsl(var(--accent)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);

  /* Fallback for older browsers */
  --destructive-border: hsl(var(--destructive));
  --destructive-border: hsl(from hsl(var(--destructive)) h s calc(l + var(--opaque-button-border-intensity)) / alpha);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

/**
 * Using the elevate system.
 * Automatic contrast adjustment.
 *
 * <element className="hover-elevate" />
 * <element className="active-elevate-2" />
 *
 * // Using the tailwind utility when a data attribute is "on"
 * <element className="toggle-elevate data-[state=on]:toggle-elevated" />
 * // Or manually controlling the toggle state
 * <element className="toggle-elevate toggle-elevated" />
 *
 * Elevation systems have to handle many states.
 * - not-hovered, vs. hovered vs. active  (three mutually exclusive states)
 * - toggled or not
 * - focused or not (this is not handled with these utilities)
 *
 * Even without handling focused or not, this is six possible combinations that
 * need to be distinguished from eachother visually.
 */
@layer utilities {

  /* Hide ugly search cancel button in Chrome until we can style it properly */
  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }

  /* Placeholder styling for contentEditable div */
  [contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    color: hsl(var(--muted-foreground));
    pointer-events: none;
  }

  /* .no-default-hover-elevate/no-default-active-elevate is an escape hatch so consumers of
   * buttons/badges can remove the automatic brightness adjustment on interactions
   * and program their own. */
  .no-default-hover-elevate {}

  .no-default-active-elevate {}


  /**
   * Toggleable backgrounds go behind the content. Hoverable/active goes on top.
   * This way they can stack/compound. Both will overlap the parent's borders!
   * So borders will be automatically adjusted both on toggle, and hover/active,
   * and they will be compounded.
   */
  .toggle-elevate::before,
  .toggle-elevate-2::before {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    /*border-radius: inherit;   match rounded corners */
    border-radius: inherit;
    z-index: -1;
    /* sits behind content but above backdrop */
  }

  .toggle-elevate.toggle-elevated::before {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.toggle-elevate::before {
    inset: -1px;
  }

  /* Does not work on elements with overflow:hidden! */
  .hover-elevate:not(.no-default-hover-elevate),
  .active-elevate:not(.no-default-active-elevate),
  .hover-elevate-2:not(.no-default-hover-elevate),
  .active-elevate-2:not(.no-default-active-elevate) {
    position: relative;
    z-index: 0;
  }

  .hover-elevate:not(.no-default-hover-elevate)::after,
  .active-elevate:not(.no-default-active-elevate)::after,
  .hover-elevate-2:not(.no-default-hover-elevate)::after,
  .active-elevate-2:not(.no-default-active-elevate)::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0px;
    /*border-radius: inherit;   match rounded corners */
    border-radius: inherit;
    z-index: 999;
    /* sits in front of content */
  }

  .hover-elevate:hover:not(.no-default-hover-elevate)::after,
  .active-elevate:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-1);
  }

  .hover-elevate-2:hover:not(.no-default-hover-elevate)::after,
  .active-elevate-2:active:not(.no-default-active-elevate)::after {
    background-color: var(--elevate-2);
  }

  /* If there's a 1px border, adjust the inset so that it covers that parent's border */
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate-2:not(.no-hover-interaction-elevate)::after,
  .border.active-elevate-2:not(.no-active-interaction-elevate)::after,
  .border.hover-elevate:not(.no-hover-interaction-elevate)::after {
    inset: -1px;
  }
}